Repository openedx/configuration, pull requests merged in 2019-06, with the labels that each got.

#5130 Updated the `read_only` MySQL account to have `SELECT` privileges.
  playbooks/roles/edxlocal/tasks/main.yml
Labels: engineering review, open-source-contribution

#5080 Update dockerfiles Syntax
  AUTHORS
  docker/build/analytics_api/Dockerfile
  docker/build/analytics_pipeline/Dockerfile
  docker/build/analytics_pipeline_hadoop_datanode/Dockerfile
  docker/build/analytics_pipeline_hadoop_namenode/Dockerfile
  docker/build/analytics_pipeline_hadoop_nodemanager/Dockerfile
  docker/build/analytics_pipeline_hadoop_resourcemanager/Dockerfile
  docker/build/analytics_pipeline_spark_master/Dockerfile
  docker/build/analytics_pipeline_spark_worker/Dockerfile
  docker/build/automated/Dockerfile
  docker/build/chrome/Dockerfile
  docker/build/credentials/Dockerfile
  docker/build/devpi/Dockerfile
  docker/build/discovery/Dockerfile
  docker/build/docker-tools/Dockerfile
  docker/build/ecommerce/Dockerfile
  docker/build/ecomworker/Dockerfile
  docker/build/edxapp/Dockerfile
  docker/build/elasticsearch-devstack/Dockerfile
  docker/build/elasticsearch/Dockerfile
  docker/build/firefox/Dockerfile
  docker/build/forum/Dockerfile
  docker/build/go-server/Dockerfile
  docker/build/graphite/Dockerfile
  docker/build/insights/Dockerfile
  docker/build/jenkins_analytics/Dockerfile.noci
  docker/build/jenkins_build/Dockerfile
  docker/build/jenkins_worker/Dockerfile
  docker/build/mongo/Dockerfile
  docker/build/mysql/Dockerfile
  docker/build/nginx/Dockerfile
  docker/build/notes/Dockerfile
  docker/build/notifier/Dockerfile
  docker/build/rabbitmq/Dockerfile
  docker/build/registrar/Dockerfile
  docker/build/tools_jenkins/Dockerfile
  docker/build/trusty-common/Dockerfile
  docker/build/xenial-common/Dockerfile
  docker/build/xqueue/Dockerfile
  docker/build/xqwatcher/Dockerfile
Labels: needs triage, open-source-contribution

#4913 [BB-724] Add setting to enable/disable Notes API and allow configuring notes as non-default site
  CHANGELOG.md
  playbooks/openedx_native.yml
  playbooks/roles/edx_notes_api/defaults/main.yml
  playbooks/roles/nginx/templates/edx/app/nginx/sites-available/edx_notes_api.j2
Labels: engineering review, needs triage, open-source-contribution

#5180 Wait for cloud-init to complete before trying to run 'apt' commands
  playbooks/roles/python/tasks/main.yml
Labels: awaiting prioritization, open-source-contribution

#5225 Delete incommon CA installation for notifier
  playbooks/roles/notifier/tasks/main.yml
Labels: needs triage, open-source-contribution

#4875 Define role to deploy blockstore
  playbooks/openedx_native.yml
  playbooks/roles/blockstore/defaults/main.yml
  playbooks/roles/blockstore/meta/main.yml
  playbooks/roles/blockstore/tasks/main.yml
  playbooks/roles/edxapp/defaults/main.yml
  playbooks/roles/edxlocal/defaults/main.yml
  playbooks/roles/mariadb/defaults/main.yml
Labels: awaiting prioritization, needs triage, open-source-contribution
