Repository openedx/configuration, pull requests merged in 2020-12, with the labels that each got.

#6178 Prepend preview. in EDXAPP_PREVIEW_LMS_BASE
  playbooks/openedx_native.yml
Labels: awaiting prioritization, open-source-contribution

#6189 [BTR-35] Update ecommerce BROKER_URL default value
  playbooks/roles/ecommerce/defaults/main.yml
  playbooks/roles/ecomworker/defaults/main.yml
Labels: needs triage, open-source-contribution

#6196 Fix BTR-44 The Demo course can't be found
  playbooks/openedx_native.yml
Labels: needs triage, open-source-contribution

#6202 [SE-3405] Add gdpr retirement api to nginx
  playbooks/roles/nginx/templates/edx/app/nginx/sites-available/lms.j2
Labels: engineering review, open-source-contribution
