Repository openedx/configuration, pull requests merged in 2021-06, with the labels that each got.

#6416 Switch to mongo_4_0 role in openedx_native.yml
  playbooks/openedx_native.yml
Labels: cc-reviewer, core committer, open-source-contribution, ready to merge

#6420 Switch to mongo_4_0 role in openedx_native.yml
  playbooks/openedx_native.yml
Labels: cc-reviewer, core committer, engineering review, open-source-contribution

#6422 [FAL-1792] fix: required jenkins package no longer supported
  playbooks/roles/jenkins_master/defaults/main.yml
Labels: core committer, open-source-contribution, ready to merge

#6423 refactor: remove obsolete setting ENABLE_INSTRUCTOR_ANALYTICS
  CHANGELOG.md
  docker/build/edxapp/lms.yml
  docker/build/edxapp/studio.yml
  playbooks/roles/edxapp/defaults/main.yml
  playbooks/sample_vars/server_vars.yml
Labels: changes requested, open-source-contribution

#6438 Add CREDENTIALS_BASE_URL to MFE environment.
  playbooks/roles/mfe/defaults/main.yml
Labels: awaiting prioritization, open-source-contribution

#6408 feat: Payment and Ecommerce MFEs support in Native Installation
  CHANGELOG.md
  playbooks/openedx_native.yml
  playbooks/roles/ecommerce/defaults/main.yml
  playbooks/roles/mfe_deployer/README.rst
  playbooks/roles/mfe_deployer/defaults/main.yml
  playbooks/roles/mfe_deployer/tasks/main.yml
  playbooks/roles/mfe_deployer/templates/edx/app/nginx/sites-available/concerns/mfe.j2
  playbooks/roles/mfe_flags_setup/defaults/main.yml
Labels: cc-reviewer, changes requested, open-source-contribution

#6439 [BACKPORT] Conditional ecommerce MFEs build
  CHANGELOG.md
  playbooks/openedx_native.yml
  playbooks/roles/mfe_deployer/README.rst
  playbooks/roles/mfe_deployer/defaults/main.yml
  playbooks/roles/mfe_deployer/tasks/main.yml
  playbooks/roles/mfe_deployer/templates/edx/app/nginx/sites-available/concerns/mfe.j2
Labels: open-source-contribution, waiting on author

#6441 Add CREDENTIALS_BASE_URL to MFE environment.
  playbooks/roles/mfe/defaults/main.yml
Labels: awaiting prioritization, open-source-contribution
