Repository openedx/configuration, pull requests merged in 2021-05, with the labels that each got.

#6381 feat: Account MFE support in Native Installation
  playbooks/openedx_native.yml
  playbooks/roles/mfe/defaults/main.yml
  util/install/native.sh
Labels: changes requested, open-source-contribution

#6400 [OSPR-5773][BB-3669] Ansible task to install extra edX Django Service requirements
  CHANGELOG.md
  playbooks/roles/discovery/defaults/main.yml
  playbooks/roles/discovery/meta/main.yml
  playbooks/roles/ecommerce/defaults/main.yml
  playbooks/roles/ecommerce/meta/main.yml
  playbooks/roles/edx_django_service/defaults/main.yml
  playbooks/roles/edx_django_service/tasks/main.yml
Labels: needs triage, open-source-contribution

#6405 feat: Account MFE support in Native Installation
  playbooks/openedx_native.yml
  playbooks/roles/mfe/defaults/main.yml
  util/install/native.sh
Labels: needs triage, open-source-contribution

#6406 feat: Add mfe_flags_setup role
  playbooks/mfe_flags_setup.yml
  playbooks/openedx_native.yml
  playbooks/roles/mfe_flags_setup/defaults/main.yml
  playbooks/roles/mfe_flags_setup/tasks/main.yml
Labels: needs triage, open-source-contribution

#6409 [BACKPORT] feat: Payment and Ecommerce MFEs support in Native Installation
  playbooks/openedx_native.yml
  playbooks/roles/ecommerce/defaults/main.yml
  playbooks/roles/mfe_deployer/defaults/main.yml
  playbooks/roles/mfe_flags_setup/defaults/main.yml
Labels: open-source-contribution, waiting on author
